pkgbase = email-bulk-sender-git
	pkgdesc = Android display utilities.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.1.r0.g51e1e22e5e7eb1e360db021d3d28fb08fa655c42
	pkgrel = 1
	url = https://github.com/themartiancompany/email-bulk-sender
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	makedepends = curl
	makedepends = jq
	depends = gawk
	depends = libcrash-bash
	depends = msmtp
	provides = email-bulk-sender=0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.1.r0.g51e1e22e5e7eb1e360db021d3d28fb08fa655c42
	conflicts = email-bulk-sender
	source = email-bulk-sender.tar.gz::https://github.com/themartiancompany/email-bulk-sender/archive/refs/heads/master.tar.gz
	sha256sums = SKIP

pkgname = email-bulk-sender-git
