pkgbase = email-bulk-sender-git
	pkgdesc = Sends emails in bulk.
	pkgver = null.rnull.g83974e1849a44388d85d0fa553e08264c23ca9f4
	pkgrel = 1
	url = https://github.com/themartiancompany/email-bulk-sender
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	makedepends = curl
	makedepends = jq
	depends = gawk
	depends = libcrash-bash
	depends = msmtp
	provides = email-bulk-sender=null.rnull.g83974e1849a44388d85d0fa553e08264c23ca9f4
	conflicts = email-bulk-sender
	source = email-bulk-sender.tar.gz::https://github.com/themartiancompany/email-bulk-sender/archive/refs/heads/master.tar.gz
	sha256sums = SKIP

pkgname = email-bulk-sender-git
